<p id="notice"><%= notice %></p>

<p>
  <b>Template:</b>
  <%= @instance.template_id %>
  <%= link_to 'Download', "/#{@template.filename}" %>
</p>

<%= link_to 'Edit', edit_template_instance_path(@template, @instance) %> |
<%= link_to 'Back', template_instances_path(@template) %>
