<h1><%= t 'view.instance.generate' %></h1>
<p id="notice"><%= notice %></p>

<p>
  <%= @instance.template.filename %>
  <%= link_to t('view.navigations.download'), @download %>
</p>

<%= link_to t('view.instance.index'), template_instances_path(@template) %>|
<%= link_to t('view.value.index'), template_instance_values_path(@template,@instance) %>
