<h1><%= t 'view.instance.index' %></h1>

<table>
  <tr>
    <th><%= t 'activerecord.attributes.template.filename' %></th>
    <th></th>
    <th></th>
    <th></th>
    <!--
    <th></th>
    <th></th>
    -->
  </tr>

<% @instances.each do |instance| %>
  <tr>
    <td><%= instance.template.filename %></td>
    <!--
    <td><%= link_to t('view.navigations.show'), template_instance_path(@template, instance) %></td>
    <td><%= link_to t('view.navigations.edit'), edit_template_instance_path(@template, instance) %></td>
    -->
    <td><%= link_to t('view.navigations.destroy'), template_instance_path(@template, instance), confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to t('activerecord.attributes.instance.values'), template_instance_values_path(@template, instance) %></td>
    <td><%= link_to t('view.instance.generate'), generate_template_instance_path(@template, instance) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('view.template.index'), templates_path %>|
<%= link_to t('view.instance.new'), new_template_instance_path(@template) %>
