<h1><%= t 'view.placeholder.index' %></h1>

<%= form_for @template do |template_form| %>
  <table>
    <tr>
      <th><%= t 'activerecord.attributes.placeholder.key' %></th>
      <th><%= t 'activerecord.attributes.placeholder.value' %></th>
    </tr>

    <% @placeholders.each do |placeholder| %>
      <%= template_form.fields_for :placeholders, placeholder do |placeholder_fields| %>
	<tr>
	  <td><%= strip_tags placeholder.key %></td>
	  <td><%= placeholder_fields.text_field :value %></td>
	</tr>
      <% end %>
    <% end %>
  </table>
  <%= template_form.submit %>
<% end %>

<br />

<%= link_to t('view.template.index'), templates_path %>
