<%= form_for(@template, :html => { :multipart => true }) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :filename %><br />
    <%= f.text_field :filename %>
  </div>
  <div class="field">
    <%= f.label :zip_file_path %><br />
    <%= f.text_field :zip_file_path %>
  </div>
  <div class="field">
    <%= label :attachment, :file %><br />
    <%= file_field :attachment, :file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
