<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'activerecord.attributes.template.filename' %>:</b>
  <%= @template.filename %>
</p>

<table>
  <tr>
    <th><%= t 'activerecord.attributes.placeholder.key' %></th>
    <th><%= t 'activerecord.attributes.placeholder.value' %></th>
  </tr>
  <% @template.placeholders.each do |placeholder|  %>
    <tr>
      <td><%= placeholder.key %></td>
      <td><%= placeholder.value %></td>
    </tr>
  <% end %>
</table>

<!-- <%= link_to t('view.navigations.edit'), edit_template_path(@template) %> | -->
<%= link_to t('view.template.index'), templates_path %>
