<p id="notice"><%= notice %></p>

<p>
  <b>Filename:</b>
  <%= @template.filename %>
</p>

<p>
  <b>Identifier:</b>
  <%= @template.identifier %>
</p>

<p>
  <b>Memo:</b>
  <%= @template.memo %>
</p>

<p>Placeholders are:<%= @placeholders %></p>

<ol>
<%# @placeholders.each do |placeholder|  %>
<li><%#= placeholder %></li>
<%# end %>
</ol>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
