<h1><%= t 'view.value.index' %></h1>

<table>
  <tr>
    <!-- <th>Instance</th> -->
    <th><%= t 'activerecord.attributes.placeholder.key' %></th>
    <th><%= t 'activerecord.attributes.placeholder.value' %></th>
    <th></th>
    <!-- <th></th> -->
    <!-- <th></th> -->
  </tr>

<% @values.each do |value| %>
  <tr>
    <!-- <td><%= value.instance_id %></td> -->
    <td><%= strip_tags value.placeholder.key %></td>
    <td><%= value.value %></td>
    <!-- <td><%= link_to 'Show', template_instance_value_path(@template, @instance, value) %></td> -->
    <td><%= link_to t('view.navigations.edit'), edit_template_instance_value_path(@template, @instance, value) %></td>
    <!-- <td><%= link_to 'Destroy', template_instance_value_path(@template, @instance, value),
	    confirm: 'Are you sure?', method: :delete %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to t('view.instance.index'), template_instances_path(@template) %>|
<%= link_to t('view.instance.generate'), generate_template_instance_path(@template, @instance) %>
