%h1= t 'view.value.index'
/= form_for @instance, url: template_instance_path(@template, @instance) do |instance_form|
= form_for [@template, @instance] do |template_form|
  .field
    %table
      %thead
        %tr
          %th= t 'activerecord.attributes.value.key'
          %th= t 'activerecord.attributes.value.value'
      %tbody
        - groups = grouping(@values) { |item| item.placeholder.key }
        - groups.each do |group|
          %tr
            %td.group{'colspan' => '2'}/
          - group[1].each do |value|
            = template_form.fields_for :values, value do |value_fields|
              %tr
                %td
                  = strip_tags value.placeholder.key
                %td
                  = value_fields.text_area :value, cols: 40, rows: 1
  .actions
    = template_form.submit
