<p id="notice"><%= notice %></p>

<p>
  <b>Instance:</b>
  <%= @value.instance_id %>
</p>

<p>
  <b>Placeholder:</b>
  <%= @value.placeholder_id %>
</p>

<p>
  <b>Value:</b>
  <%= @value.value %>
</p>


<%= link_to 'Edit', edit_template_instance_value_path(@template, @instance, @value) %> |
<%= link_to 'Back', template_instance_values_path(@template, @instance) %>
