/ app/views/layouts/home.html.haml
!!!
%html
  %head
    %title OOXML文書生成(ZxTemplate)
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:class => params[:controller]}
    %header
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
      - if user_signed_in?
        = current_user.email
        = link_to('Logout', destroy_user_session_path, :method=>'delete')
      %nav
        %button= link_to('雛形一覧', templates_path)
        - if @instance
          %button= link_to('生成文書一覧', template_instances_path(@instance.template))
          - if ! @instance.new_record? and ! @values
            %button= link_to('値一覧', template_instance_values_path(@instance.template, @instance))
    %article
      = yield
    %footer
