/ app/views/layouts/home.html.haml
!!!
%html
  %head
    %title RailsDeviseOmniauth
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:class => params[:controller]}
    %header
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
      %nav
        - if user_signed_in?
          = current_user.email
          = link_to('Logout', destroy_user_session_path, :method=>'delete')
        - else
          = link_to('Login', new_user_session_path)
      %article
        = yield
      %footer
